---
http_interactions:
- request:
    method: get
    uri: https://gitlab.com/api/v4/projects/25693144/labels?page=1&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"02012eaf626348ef784ef5abae69f64c"
      Link:
      - <https://gitlab.com/api/v4/projects/25693144/labels?id=25693144&include_ancestor_groups=true&page=1&per_page=100&with_counts=false>;
        rel="first", <https://gitlab.com/api/v4/projects/25693144/labels?id=25693144&include_ancestor_groups=true&page=1&per_page=100&with_counts=false>;
        rel="last"
      X-Gitlab-Feature-Category:
      - issue_tracking
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '100'
      X-Prev-Page:
      - ''
      X-Total:
      - '36'
      X-Total-Pages:
      - '1'
      Ratelimit-Observed:
      - '2'
      Ratelimit-Remaining:
      - '1998'
      Ratelimit-Reset:
      - '1617819158'
      Ratelimit-Resettime:
      - Wed, 07 Apr 2021 18:12:38 GMT
      Ratelimit-Limit:
      - '2000'
      Gitlab-Lb:
      - fe-04-lb-gprd
      Gitlab-Sv:
      - localhost
    body:
      encoding: ASCII-8BIT
      string: '[{"id":19440082,"name":"Catalog","color":"#6699cc","description":null,"description_html":"","text_color":"#FFFFFF","subscribed":false,"priority":null,"is_project_label":true},{"id":19440083,"name":"Catalog
        (Use DevOps)","color":"#6699cc","description":null,"description_html":"","text_color":"#FFFFFF","subscribed":false,"priority":null,"is_project_label":true},{"id":19440084,"name":"Config
        Calculator (Use DevOps)","color":"#6699cc","description":null,"description_html":"","text_color":"#FFFFFF","subscribed":false,"priority":null,"is_project_label":true},{"id":19440085,"name":"Demo
        Servers","color":"#6699cc","description":null,"description[...]
