---
http_interactions:
- request:
    method: get
    uri: https://gitlab.com/api/v4/users?username=Mouse-Hack
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4f53cda18c2baa0c0354bb5f9a3ecbe5"
      Link:
      - <https://gitlab.com/api/v4/users?active=false&admins=false&blocked=false&external=false&page=1&per_page=20&skip_ldap=false&username=Mouse-Hack&with_custom_attributes=false>;
        rel="first", <https://gitlab.com/api/v4/users?active=false&admins=false&blocked=false&external=false&page=1&per_page=20&skip_ldap=false&username=Mouse-Hack&with_custom_attributes=false>;
        rel="last"
      X-Gitlab-Feature-Category:
      - users
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '0'
      X-Total-Pages:
      - '1'
      Ratelimit-Observed:
      - '1'
      Ratelimit-Remaining:
      - '1999'
      Ratelimit-Reset:
      - '1617819536'
      Ratelimit-Resettime:
      - Wed, 07 Apr 2021 18:18:56 GMT
      Ratelimit-Limit:
      - '2000'
      Gitlab-Lb:
      - fe-07-lb-gprd
      Gitlab-Sv:
      - localhost
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Wed, 07 Apr 2021 18:17:57 GMT
- request:
    method: get
    uri: https://gitlab.com/api/v4/groups/Mouse-Hack
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
      If-None-Match:
      - W/"a085938be211980ef82985d3a5fed60e"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"3e6ec4c9b2162eb0b6528b9a31b09b00"
      X-Gitlab-Feature-Category:
      - subgroups
      Ratelimit-Observed:
      - '2'
      Ratelimit-Remaining:
      - '1998'
      Ratelimit-Reset:
      - '1617819538'
      Ratelimit-Resettime:
      - Wed, 07 Apr 2021 18:18:58 GMT
      Ratelimit-Limit:
      - '2000'
      Gitlab-Lb:
      - fe-08-lb-gprd
      Gitlab-Sv:
      - localhost
    body:
      encoding: ASCII-8BIT
      string: '{"id":627189,"web_url":"https://gitlab.com/groups/Mouse-Hack","name":"Mouse-Hack","path":"Mouse-Hack","description":"","visibility":"public","share_with_group_lock":false,"require_two_factor_authentication":false,"two_factor_grace_period":48,"project_creation_level":"developer","auto_devops_enabled":null,"subgroup_creation_level":"owner","emails_disabled":null,"mentions_disabled":null,"lfs_enabled":true,"default_branch_protection":2,"avatar_url":null,"request_access_enabled":true,"full_name":"Mouse-Hack","full_path":"Mouse-Hack","created_at":"2016-05-10T22:02:36.633Z","parent_id":null,"ldap_cn":null,"ldap_access":null,"shared_with_groups":[],"runners_token":"_9yKzskVgiH1w3sL11SY","projects":[{"id":25693144,"description":"","name":"where-are-my-labels","name_with_namespace":"Mouse-Hack
        / where-are-my-labels","path":"where-are-my-labels","path_with_namespace":"Mouse-Hack/where-are-my-labels","created_at":"2021-04-06T21:10:35.731Z","default_branch":null,"tag_list":[],"ssh_url_to_repo":"git@gitlab.com:Mouse-Hack/where-are-my-labels.git","http_url_to_repo":"https://gitlab.com/Mouse-Hack/where-are-my-labels.git","web_url":"https://gitlab.com/Mouse-Hack/where-are-my-labels","readme_url":null,"avatar_url":null,"forks_count":0,"star_count":0,"last_activity_at":"2021-04-06T21:10:35.731Z","namespace":{"id":627189,"name":"Mouse-Hack","path":"Mouse-Hack","kind":"group","full_path":"Mouse-Hack","parent_id":null,"avatar_url":null,"web_url":"https://gitlab.com/groups/Mouse-Hack"},"container_registry_image_prefix":"registry.gitlab.com/mouse-hack/where-are-my-labels","_links":{"self":"https://gitlab.com/api/v4/projects/25693144","issues":"https://gitlab.com/api/v4/projects/25693144/issues","merge_requests":"https://gitlab.com/api/v4/projects/25693144/merge_requests","repo_branches":"https://gitlab.com/api/v4/projects/25693144/repository/branches","labels":"https://gitlab.com/api/v4/projects/25693144/labels","events":"https://gitlab.com/api/v4/projects/25693144/events","members":"https://gitlab.com/api/v4/projects/25693144/members"},"packages_enabled":true,"empty_repo":true,"archived":false,"visibility":"private","resolve_outdated_diff_discussions":false,"container_registry_enabled":true,"container_expiration_policy":{"cadence":"1d","enabled":false,"keep_n":10,"older_than":"90d","name_regex":".*","name_regex_keep":null,"next_run_at":"2021-04-07T21:10:35.754Z"},"issues_enabled":true,"merge_requests_enabled":true,"wiki_enabled":true,"jobs_enabled":true,"snippets_enabled":true,"service_desk_enabled":true,"service_desk_address":"incoming+mouse-hack-where-are-my-labels-25693144-issue-@incoming.gitlab.com","can_create_merge_request_in":true,"issues_access_level":"enabled","repository_access_level":"enabled","merge_requests_access_level":"enabled","forking_access_level":"enabled","wiki_access_level":"enabled","builds_access_level":"enabled","snippets_access_level":"enabled","pages_access_level":"private","operations_access_level":"enabled","analytics_access_level":"enabled","emails_disabled":null,"shared_runners_enabled":true,"lfs_enabled":true,"creator_id":1477621,"import_status":"none","open_issues_count":1,"ci_default_git_depth":50,"ci_forward_deployment_enabled":true,"public_jobs":true,"build_timeout":3600,"auto_cancel_pending_pipelines":"enabled","build_coverage_regex":null,"ci_config_path":"","shared_with_groups":[],"only_allow_merge_if_pipeline_succeeds":false,"allow_merge_on_skipped_pipeline":null,"restrict_user_defined_variables":false,"request_access_enabled":true,"only_allow_merge_if_all_discussions_are_resolved":false,"remove_source_branch_after_merge":true,"printing_merge_request_link_enabled":true,"merge_method":"merge","suggestion_commit_message":null,"auto_devops_enabled":false,"auto_devops_deploy_strategy":"continuous","autoclose_referenced_issues":true,"external_authorization_classification_label":"","requirements_enabled":false,"security_and_compliance_enabled":true,"compliance_frameworks":[]},{"id":20062790,"description":"","name":"test-squash-commits","name_with_namespace":"Mouse-Hack
        / test-squash-commits","path":"test-squash-commits","path_with_namespace":"Mouse-Hack/test-squash-commits","created_at":"2020-07-20T19:27:53.393Z","default_branch":"master","tag_list":[],"ssh_url_to_repo":"git@gitlab.com:Mouse-Hack/test-squash-commits.git","http_url_to_repo":"https://gitlab.com/Mouse-Hack/test-squash-commits.git","web_url":"https://gitlab.com/Mouse-Hack/test-squash-commits"[...]
- request:
    method: get
    uri: https://gitlab.com/api/v4/groups/Mouse-Hack/members?page=1&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"05348fa6040d143abf91b26f1dadb43c"
      Link:
      - <https://gitlab.com/api/v4/groups/Mouse-Hack/members?id=Mouse-Hack&page=1&per_page=100>;
        rel="first", <https://gitlab.com/api/v4/groups/Mouse-Hack/members?id=Mouse-Hack&page=1&per_page=100>;
        rel="last"
      X-Gitlab-Feature-Category:
      - authentication_and_authorization
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '100'
      X-Prev-Page:
      - ''
      X-Total:
      - '16'
      X-Total-Pages:
      - '1'
      Ratelimit-Observed:
      - '3'
      Ratelimit-Remaining:
      - '1997'
      Ratelimit-Reset:
      - '1617819538'
      Ratelimit-Resettime:
      - Wed, 07 Apr 2021 18:18:58 GMT
      Ratelimit-Limit:
      - '2000'
      Gitlab-Lb:
      - fe-06-lb-gprd
      Gitlab-Sv:
      - localhost
    body:
      encoding: ASCII-8BIT
      string: '[{"id":142189,"name":"Matt","username":"spraints","state":"active","avatar_url":"https://secure.gravatar.com/avatar/0bf208eebdab7c5d16152f70a1ee837f?s=80\u0026d=identicon","web_url":"https://gitlab.com/spraints","access_level":50,"created_at":"2016-05-10T22:02:36.802Z","expires_at":null},{"id":414903,"name":"Kyle
        Macey","username":"kylemacey","state":"active","avatar_url":"https://secure.gravatar.com/avatar/e7bc3ce1dbb0fcaa9bb00bf10628526e?s=80\u0026d=identicon","web_url":"https://gitlab.com/kylemacey","access_level":50,"created_at":"2016-05-10T22:04:40.850Z","expires_at":null},{"id":529946,"name":"Jon
        Magic","username":"jonmagic","state":"active","avatar_url":"https://secure.gravatar.com/avatar/7064ad438246a02809c85bcd92cb5f3f?s=80\u0026d=identicon","web_u[...]
- request:
    method: get
    uri: https://gitlab.com/api/v4/users?username=spraints
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
      If-None-Match:
      - W/"bd3f9f832a13324f9c4c04c0ec6eb0a5"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a7a2039fb7f916ad703b7c758a82ac55"
      Link:
      - <https://gitlab.com/api/v4/users?active=false&a[...]
- request:
    method: get
    uri: https://gitlab.com/api/v4/users?username=kylemacey
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
      If-None-Match:
      - W/"0397cdea7058336bfa759c4e444f4a63"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"447c3ab828b8cf739eeaa32cc3ebe57b"
      Link:
      - <https://gitlab.com/api/v4/users?active=false&[...]
- request:
    method: get
    uri: https://gitlab.com/api/v4/users?username=jonmagic
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
      If-None-Match:
      - W/"ca6e9eab8324ba4eb25f7a78100dc4d6"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8f96edc73c25044be35b9e645070cd66"
      Link:
      - <https://gitlab.com/api/v4/users?active=false&a[...]
- request:
    method: get
    uri: https://gitlab.com/api/v4/users?username=lizzhale
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
      If-None-Match:
      - W/"3249c36c75bc4ef750124820b232d83b"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6ecc75323bbe1b90e38ba119acedb501"
      Link:
      - <https://gitlab.com/api/v4/users?active=false&a[...]
- request:
    method: get
    uri: https://gitlab.com/api/v4/users?username=ehale
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8ac75506b9d152558fb5a0faa4c0ce8e"
      Link:
      - <https://gitlab.com/api/v4/users?active=false&admins=false&blocked=false&external=false&page=1&per_page=20&skip_ldap[...]
- request:
    method: get
    uri: https://gitlab.com/api/v4/users?username=mattcantstop
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f0feedf44e7b6dc242ae0972506391e9"
      Link:
      - <https://gitlab.com/api/v4/users?active=false&admins=false&blocked=false&external=false&page=1&per_page=20&sk[...]
- request:
    method: get
    uri: https://gitlab.com/api/v4/users?username=dpmex4527
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b0c814bb5d283111b60c3f357d9a6d8e"
      Link:
      - <https://gitlab.com/api/v4/users?active=false&admins=false&blocked=false&external=false&page=1&per_page=20&skip_[...]
- request:
    method: get
    uri: https://gitlab.com/api/v4/users?username=synthead
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
      If-None-Match:
      - W/"27dd61babdc7333f02a2e086a2440fd6"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c42fc9a7964801712d404495987592be"
      Link:
      - <https://gitlab.com/api/v4/users?active=false&a[...]
- request:
    method: get
    uri: https://gitlab.com/api/v4/users?username=Hollyw0od99
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"893a005dc2636983327d856bacfc78b9"
      Link:
      - <https://gitlab.com/api/v4/users?active=false&admins=false&blocked=false&external=false&page=1&per_page=20&ski[...]
- request:
    method: get
    uri: https://gitlab.com/api/v4/users?username=tambling
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"52eb8689255507bd3644f5532a7cdea7"
      Link:
      - <https://gitlab.com/api/v4/users?active=false&admins=false&blocked=false&external=false&page=1&per_page=20&skip_l[...]
- request:
    method: get
    uri: https://gitlab.com/api/v4/users?username=jfine
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5de049d18993562111a5d770f22b0596"
      Link:
      - <https://gitlab.com/api/v4/users?active=false&admins=false&blocked=false&external=false&page=1&per_page=20&skip_ldap[...]
- request:
    method: get
    uri: https://gitlab.com/api/v4/users?username=admiralawkbar
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"38547130b8b57410d3863de18b464235"
      Link:
      - <https://gitlab.com/api/v4/users?active=false&admins=false&blocked=false&external=false&page=1&per_page=20&s[...]
- request:
    method: get
    uri: https://gitlab.com/api/v4/users?username=mechashark-test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"0da1d420725cbd70d36f92334be3802c"
      Link:
      - <https://gitlab.com/api/v4/users?active=false&admins=false&blocked=false&external=false&page=1&per_page=20[...]
- request:
    method: get
    uri: https://gitlab.com/api/v4/users?username=keerthanakumar
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"725569d8f2768a3ea04eabd3a74b2b77"
      Link:
      - <https://gitlab.com/api/v4/users?active=false&admins=false&blocked=false&external=false&page=1&per_page=20&[...]
- request:
    method: get
    uri: https://gitlab.com/api/v4/users?username=brianaj
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c7f2106e30b24d8e9e03b64f91846f6f"
      Link:
      - <https://gitlab.com/api/v4/users?active=false&admins=false&blocked=false&external=false&page=1&per_page=20&skip_ld[...]
- request:
    method: get
    uri: https://gitlab.com/api/v4/users?username=iomekam
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ec73e732fa1799b912385b94b6bad26b"
      Link:
      - <https://gitlab.com/api/v4/users?active=false&admins=false&blocked=false&external=false&page=1&per_page=20&skip_ld[...]
- request:
    method: get
    uri: https://gitlab.com/api/v4/projects/1169162/labels?page=1&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c10f5a7f7973ff9c7a33bbdc6e616f72"
      Link:
      - <https://gitlab.com/api/v4/projects/1169162/labels?id=1169162&include_ancestor_groups=true&page=1&per_page=100&with_counts=false>;
        rel="first", <https://gitlab.com/api/v4/projects/1169162/labels?id=1169162&include_ancestor_groups=true&page=1&per_page=100&with_counts=false>;
        rel="last"
      X-Gitlab-Feature-Category:
      - issue_tracking
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '100'
      X-Prev-Page:
      - ''
      X-Total:
      - '3'
      X-Total-Pages:
      - '1'
      Ratelimit-Observed:
      - '20'
      Ratelimit-Remaining:
      - '1980'
      Ratelimit-Reset:
      - '1617819542'
      Ratelimit-Resettime:
      - Wed, 07 Apr 2021 18:19:02 GMT
      Ratelimit-Limit:
      - '2000'
      Gitlab-Lb:
      - fe-11-lb-gprd
      Gitlab-Sv:
      - localhost
    body:
      encoding: ASCII-8BIT
      string: '[{"id":248628,"name":"Blocker","color":"#a295d6","description":"I''m
        currently blocked, please send help.","description_html":"I''m currently blocked,
        please send help.","text_color":"#333333","subscribed":false,"priority":null,"is_project_label":true},{"id":248627,"name":"Bug","color":"#ff0000","description":"","description_html":"","text_color":"#FFFFFF","subscribed":false,"priority":null,"is_project_label":true},{"id":252887,"name":"Don''t
        Drink and Code","color":"#ad8d43","description":"","description_html":null,"text_color":"#FFFFFF","subscribed":false,"priority":null,"is_project_label":true}]'
  recorded_at: Wed, 07 Apr 2021 18:18:02 GMT
recorded_with: VCR 3.0.3
