---
http_interactions:
- request:
    method: get
    uri: https://gitlab.com/api/v4/projects/1169162/repository/commits/220d5dc2582a49d694c503abdb8cf25bcdd81dce
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f5accfce52c127d282d30190321658bb"
    body:
      encoding: UTF-8
      string: '{"id":"220d5dc2582a49d694c503abdb8cf25bcdd81dce","short_id":"220d5dc2","title":"Need
        some hugo","created_at":"2016-05-10T14:59:51.000-07:00","parent_ids":["a7291a05bb99bb755cdcaceb76b4f3d7f24837d5"],"message":"Need
        some hugo\n","author_name":"Matt Burke","author_email":"spraints@gmail.com","authored_date":"2016-05-10T14:59:51.000-07:00","committer_name":"Matt
        Burke","committer_email":"spraints@gmail.com","committed_date":"2016-05-10T14:59:51.000-07:00","stats":{"additions":2,"deletions":0,"total":2},"status":"skipped"}'
  recorded_at: Sun, 27 Aug 2017 01:25:45 GMT
recorded_with: VCR 3.0.3
