---
http_interactions:
- request:
    method: get
    uri: https://gitlab.com/api/v4/version
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4e6abb85816ca0c0eda23dc624f03a71"
      X-Gitlab-Feature-Category:
      - not_owned
      Ratelimit-Observed:
      - '1'
      Ratelimit-Remaining:
      - '1999'
      Ratelimit-Reset:
      - '1617908082'
      Ratelimit-Resettime:
      - Thu, 08 Apr 2021 18:54:42 GMT
      Ratelimit-Limit:
      - '2000'
      Gitlab-Lb:
      - fe-12-lb-gprd
      Gitlab-Sv:
      - localhost
    body:
      encoding: ASCII-8BIT
      string: '{"version":"13.11.0-pre","revision":"9da98c3ad6f"}'
  recorded_at: Thu, 08 Apr 2021 18:53:43 GMT
- request:
    method: get
    uri: https://gitlab.com/api/v4/projects/Mouse-Hack%2Fhugo-pages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
      If-None-Match:
      - W/"ee7cb720c514cdd6c127ee803e4a3488"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"9c441d56fc010ec7ce8292326e909958"
      X-Gitlab-Feature-Category:
      - projects
      Ratelimit-Observed:
      - '2'
      Ratelimit-Remaining:
      - '1998'
      Ratelimit-Reset:
      - '1617908083'
      Ratelimit-Resettime:
      - Thu, 08 Apr 2021 18:54:43 GMT
      Ratelimit-Limit:
      - '2000'
      Gitlab-Lb:
      - fe-01-lb-gprd
      Gitlab-Sv:
      - localhost
    body:
      encoding: ASCII-8BIT
      string: '{"id":1169162,"description":"Wanna use something other than jekyll?
        Try this one weird trick. er, actually a bunch of tricks, glued together.","name":"hugo-pages","name_with_namespace":"Mouse-Hack
        / hugo-pages","path":"hugo-pages","path_with_namespace":"Mouse-Hack/hugo-pages","created_at":"2016-05-10T21:15:14.616Z","default_branch":"master","tag_list":[],"ssh_url_to_repo":"git@gitlab.com:Mouse-Hack/hugo-pages.git","http_url_to_repo":"https://gitlab.com/Mouse-Hack/hugo-pages.git","web_url":"https://gitlab.com/Mouse-Hack/hugo-pages","readme_url":"https://gitlab.com/Mouse-Hack/hugo-pages/-/blob/master/README.md","avatar_url":null,"forks_count":1,"star_count":0,"last_activity_at":"2020-08-10T16:21:24.171Z","namespace":{"id":627189,"name":"Mouse-Hack","path":"Mouse-Hack","kind":"group","full_path":"Mouse-Hack","parent_id":null,"avatar_url":null,"web_url":"https://gitlab.com/groups/Mouse-Hack"},"container_registry_image_prefix":"registry.gitlab.com/mouse-hack/hugo-pages","_links":{"self":"https://gitlab.com/api/v4/projects/1169162","issues":"https://gitlab.com/api/v4/projects/1169162/issues","merge_requests":"https://gitlab.com/api/v4/projects/1169162/merge_requests","repo_branches":"https://gitlab.com/api/v4/projects/1169162/repository/branches","labels":"https://gitlab.com/api/v4/projects/1169162/labels","events":"https://gitlab.com/api/v4/projects/1169162/events","members":"https://gitlab.com/api/v4/projects/1169162/members"},"packages_enabled":null,"empty_repo":false,"archived":false,"visibility":"private","resolve_outdated_diff_discussions":null,"container_registry_enabled":false,"issues_enabled":true,"merge_requests_enabled":true,"wiki_enabled":true,"jobs_enabled":true,"snippets_enabled":false,"service_desk_enabled":null,"service_desk_address":null,"can_create_merge_request_in":true,"issues_access_level":"enabled","repository_access_level":"enabled","merge_requests_access_level":"enabled","forking_access_level":"enabled","wiki_access_level":"private","builds_access_level":"enabled","snippets_access_level":"disabled","pages_access_level":"public","operations_access_level":"enabled","analytics_access_level":"enabled","emails_disabled":null,"shared_runners_enabled":true,"lfs_enabled":true,"creator_id":142189,"import_status":"none","import_error":null,"open_issues_count":7,"runners_token":"Khpq5tPdC2bWc-F4aVAg","ci_default_git_depth":null,"ci_forward_deployment_enabled":null,"public_jobs":true,"build_git_strategy":"fetch","build_timeout":3600,"auto_cancel_pending_pipelines":"enabled","build_coverage_regex":null,"ci_config_path":null,"shared_with_groups":[{"group_id":627189,"group_name":"Mouse-Hack","group_full_path":"Mouse-Hack","group_access_level":30,"expires_at":null}],"only_allow_merge_if_pipeline_succeeds":false,"allow_merge_on_skipped_pipeline":null,"restrict_user_defined_variables":false,"request_access_enabled":true,"only_allow_merge_if_all_discussions_are_resolved":null,"remove_source_branch_after_merge":null,"printing_merge_request_link_enabled":true,"merge_method":"merge","suggestion_commit_message":null,"auto_devops_enabled":false,"auto_devops_deploy_strategy":"continuous","autoclose_referenced_issues":true,"external_authorization_classification_label":"","requirements_enabled":false,"security_and_compliance_enabled":true,"compliance_frameworks":[],"permissions":{"project_access":null,"group_access":{"access_level":50,"notification_level":3}}}'
  recorded_at: Thu, 08 Apr 2021 18:53:43 GMT
- request:
    method: get
    uri: https://gitlab.com/api/v4/user
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
      If-None-Match:
      - W/"3311c12f1fa386f86bdc5548327d5118"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"24556fac227c34c38c4db7d41f907f5f"
      X-Gitlab-Feature-Category:
      - users
      Ratelimit-Observed:
      - '3'
      Ratelimit-Remaining:
      - '1997'
      Ratelimit-Reset:
      - '1617908083'
      Ratelimit-Resettime:
      - Thu, 08 Apr 2021 18:54:43 GMT
      Ratelimit-Limit:
      - '2000'
      Gitlab-Lb:
      - fe-07-lb-gprd
      Gitlab-Sv:
      - localhost
    body:
      encoding: ASCII-8BIT
      string: '{"id":1477621,"name":"Maxwell Pray","username":"synthead","state":"active","avatar_url":"https://assets.gitlab-static.net/uploads/-/system/user/avatar/1477621/avatar.png","web_url":"https://gitlab.com/synthead","created_at":"2017-07-19T23:11:25.650Z","bio":"","bio_html":"","location":"","public_email":"","skype":"","linkedin":"","twitter":"","website_url":"","organization":"","job_title":"","bot":false,"work_information":null,"followers":0,"following":0,"last_sign_in_at":"2021-04-07T02:05:00.164Z","confirmed_at":"2017-08-27T21:03:55.858Z","last_activity_on":"2021-04-08","email":"synthead1@gmail.com","theme_id":11,"color_scheme_id":2,"projects_limit":100000,"current_sign_in_at":"2021-04-07T18:47:43.634Z","identities":[],"can_create_group":true,"can_create_project":true,"two_factor_enabled":true,"external":false,"private_profile":false,"commit_email":"synthead1@gmail.com","shared_runners_minutes_limit":2000,"extra_shared_runners_minutes_limit":null}'
  recorded_at: Thu, 08 Apr 2021 18:53:43 GMT
- request:
    method: get
    uri: https://gitlab.com/api/v4/users?username=Mouse-Hack
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
      If-None-Match:
      - W/"d751713988987e9331980363e24189ce"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4f53cda18c2baa0c0354bb5f9a3ecbe5"
      Link:
      - <https://gitlab.com/api/v4/users?active=false&admins=false&blocked=false&external=false&page=1&per_page=20&skip_ldap=false&username=Mouse-Hack&with_custom_attributes=false>;
        rel="first", <https://gitlab.com/api/v4/users?active=false&admins=false&blocked=false&external=false&page=1&per_page=20&skip_ldap=false&username=Mouse-Hack&with_custom_attributes=false>;
        rel="last"
      X-Gitlab-Feature-Category:
      - users
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '0'
      X-Total-Pages:
      - '1'
      Ratelimit-Observed:
      - '4'
      Ratelimit-Remaining:
      - '1996'
      Ratelimit-Reset:
      - '1617908084'
      Ratelimit-Resettime:
      - Thu, 08 Apr 2021 18:54:44 GMT
      Ratelimit-Limit:
      - '2000'
      Gitlab-Lb:
      - fe-09-lb-gprd
      Gitlab-Sv:
      - localhost
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 08 Apr 2021 18:53:44 GMT
- request:
    method: get
    uri: https://gitlab.com/api/v4/groups/Mouse-Hack
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
      If-None-Match:
      - W/"a085938be211980ef82985d3a5fed60e"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"3e6ec4c9b2162eb0b6528b9a31b09b00"
      X-Gitlab-Feature-Category:
      - subgroups
      Ratelimit-Observed:
      - '5'
      Ratelimit-Remaining:
      - '1995'
      Ratelimit-Reset:
      - '1617908085'
      Ratelimit-Resettime:
      - Thu, 08 Apr 2021 18:54:45 GMT
      Ratelimit-Limit:
      - '2000'
      Gitlab-Lb:
      - fe-01-lb-gprd
      Gitlab-Sv:
      - localhost
    body:
      encoding: ASCII-8BIT
      string: '{"id":627189,"web_url":"https://gitlab.com/groups/Mouse-Hack","name":"Mouse-Hack","path":"Mouse-Hack","description":"","visibility":"public","share_with_group_lock":false,"require_two_factor_authentication":false,"two_factor_grace_period":48,"project_creation_level":"developer","auto_devops_enabled":null,"subgroup_creation_level":"owner","emails_disabled":null,"mentions_disabled":null,"lfs_enabled":true,"default_branch_protection":2,"avatar_url":null,"request_access_enabled":true,"full_name":"Mouse-Hack","full_path":"Mouse-Hack","created_at":"2016-05-10T22:02:36.633Z","parent_id":null,"ldap_cn":null,"ldap_access":null,"shared_with_groups":[],"runners_token":"_9yKzskVgiH1w3sL11SY","projects":[{"id":25693144,"description":"","name":"where-are-my-labels","name_with_namespace":"Mouse-Hack
        / where-are-my-labels","path":"where-are-my-labels","path_with_namespace":"Mouse-Hack/where-are-my-labels","created_at":"2021-04-06T21:10:35.731Z","default_branch":null,"tag_list":[],"ssh_url_to_repo":"git@gitlab.com:Mouse-Hack/where-are-my-labels.git","http_url_to_repo":"https://gitlab.com/Mouse-Hack/where-are-my-labels.git","web_url":"https://gitlab.com/Mouse-Hack/where-are-my-labels","readm[...]
- request:
    method: get
    uri: https://gitlab.com/api/v4/groups/Mouse-Hack/members?page=1&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
      If-None-Match:
      - W/"f40adcc6f1d7358a4bf94064ed7e051a"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"05348fa6040d143abf91b26f1dadb43c"
      Link:
      - <https://gitlab.com/api/v[...]
- request:
    method: get
    uri: https://gitlab.com/api/v4/users?username=spraints
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
      If-None-Match:
      - W/"bd3f9f832a13324f9c4c04c0ec6eb0a5"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a7a2039fb7f916ad703b7c758a82ac55"
      Link:
      - <https://gitlab.com/api/v4/users?active=false&a[...]
- request:
    method: get
    uri: https://gitlab.com/api/v4/users?username=kylemacey
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
      If-None-Match:
      - W/"0397cdea7058336bfa759c4e444f4a63"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"447c3ab828b8cf739eeaa32cc3ebe57b"
      Link:
      - <https://gitlab.com/api/v4/users?active=false&[...]
- request:
    method: get
    uri: https://gitlab.com/api/v4/users?username=jonmagic
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
      If-None-Match:
      - W/"ca6e9eab8324ba4eb25f7a78100dc4d6"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8f96edc73c25044be35b9e645070cd66"
      Link:
      - <https://gitlab.com/api/v4/users?active=false&a[...]
- request:
    method: get
    uri: https://gitlab.com/api/v4/users?username=lizzhale
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
      If-None-Match:
      - W/"3249c36c75bc4ef750124820b232d83b"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6ecc75323bbe1b90e38ba119acedb501"
      Link:
      - <https://gitlab.com/api/v4/users?active=false&a[...]
- request:
    method: get
    uri: https://gitlab.com/api/v4/users?username=ehale
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
      If-None-Match:
      - W/"84bf783b10b639acbc9f662aae71b30b"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8ac75506b9d152558fb5a0faa4c0ce8e"
      Link:
      - <https://gitlab.com/api/v4/users?active=false&admi[...]
- request:
    method: get
    uri: https://gitlab.com/api/v4/users?username=mattcantstop
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
      If-None-Match:
      - W/"7d3c97ef75b27a399955613c9a55411c"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f0feedf44e7b6dc242ae0972506391e9"
      Link:
      - <https://gitlab.com/api/v4/users?active=fal[...]
- request:
    method: get
    uri: https://gitlab.com/api/v4/users?username=dpmex4527
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
      If-None-Match:
      - W/"355bd64c43a4825a005162767eeeb709"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b0c814bb5d283111b60c3f357d9a6d8e"
      Link:
      - <https://gitlab.com/api/v4/users?active=false&[...]
- request:
    method: get
    uri: https://gitlab.com/api/v4/users?username=synthead
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
      If-None-Match:
      - W/"27dd61babdc7333f02a2e086a2440fd6"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c42fc9a7964801712d404495987592be"
      Link:
      - <https://gitlab.com/api/v4/users?active=false&a[...]
- request:
    method: get
    uri: https://gitlab.com/api/v4/users?username=Hollyw0od99
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
      If-None-Match:
      - W/"893a005dc2636983327d856bacfc78b9"
  response:
    status:
      code: 304
      message: Not Modified
    headers:
      Etag:
      - W/"893a005dc2636983327d856bacfc78b9"
      Link:
      - <https://gitlab.com/api/v4/users?active=false&admins=false&blocked=false&external=false&page=1&per_page=20&skip_ldap=false&username=Hollyw0od99&with_custom_attributes=false>;
        rel="first", <https://gitlab.com/api/v4/users?active=false&admins=false&blocked=false&external=false&page=1&per_page=20&skip_ldap=false&username=Hollyw0od99&with_custom_attributes=false>;
        rel="last"
      X-Gitlab-Feature-Category:
      - users
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '1'
      X-Total-Pages:
      - '1'
      Ratelimit-Observed:
      - '15'
      Ratelimit-Remaining:
      - '1985'
      Ratelimit-Reset:
      - '1617908088'
      Ratelimit-Resettime:
      - Thu, 08 Apr 2021 18:54:48 GMT
      Ratelimit-Limit:
      - '2000'
      Gitlab-Lb:
      - fe-07-lb-gprd
      Gitlab-Sv:
      - localhost
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 08 Apr 2021 18:53:48 GMT
- request:
    method: get
    uri: https://gitlab.com/api/v4/users?username=tambling
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
      If-None-Match:
      - W/"52eb8689255507bd3644f5532a7cdea7"
  response:
    status:
      code: 304
      message: Not Modified
    headers:
      Etag:
      - W/"52eb8689255507bd3644f5532a7cdea7"
      Link:
      - <https://gitlab.com/api/v4/users?active=false&admins=false&blocked=false&external=false&page=1&per_page=20&skip_ldap=false&username=tambling&with_custom_attributes=false>;
        rel="first", <https://gitlab.com/api/v4/users?active=false&admins=false&blocked=false&external=false&page=1&per_page=20&skip_ldap=false&username=tambling&with_custom_attributes=false>;
        rel="last"
      X-Gitlab-Feature-Category:
      - users
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '1'
      X-Total-Pages:
      - '1'
      Ratelimit-Observed:
      - '16'
      Ratelimit-Remaining:
      - '1984'
      Ratelimit-Reset:
      - '1617908088'
      Ratelimit-Resettime:
      - Thu, 08 Apr 2021 18:54:48 GMT
      Ratelimit-Limit:
      - '2000'
      Gitlab-Lb:
      - fe-12-lb-gprd
      Gitlab-Sv:
      - localhost
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 08 Apr 2021 18:53:48 GMT
- request:
    method: get
    uri: https://gitlab.com/api/v4/users?username=jfine
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
      If-None-Match:
      - W/"5de049d18993562111a5d770f22b0596"
  response:
    status:
      code: 304
      message: Not Modified
    headers:
      Etag:
      - W/"5de049d18993562111a5d770f22b0596"
      Link:
      - <https://gitlab.com/api/v4/users?active=false&admins=false&blocked=false&external=false&page=1&per_page=20&skip_ldap=false&username=jfine&with_custom_attributes=false>;
        rel="first", <https://gitlab.com/api/v4/users?active=false&admins=false&blocked=false&external=false&page=1&per_page=20&skip_ldap=false&username=jfine&with_custom_attributes=false>;
        rel="last"
      X-Gitlab-Feature-Category:
      - users
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '1'
      X-Total-Pages:
      - '1'
      Ratelimit-Observed:
      - '17'
      Ratelimit-Remaining:
      - '1983'
      Ratelimit-Reset:
      - '1617908088'
      Ratelimit-Resettime:
      - Thu, 08 Apr 2021 18:54:48 GMT
      Ratelimit-Limit:
      - '2000'
      Gitlab-Lb:
      - fe-05-lb-gprd
      Gitlab-Sv:
      - localhost
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 08 Apr 2021 18:53:48 GMT
- request:
    method: get
    uri: https://gitlab.com/api/v4/users?username=admiralawkbar
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
      If-None-Match:
      - W/"38547130b8b57410d3863de18b464235"
  response:
    status:
      code: 304
      message: Not Modified
    headers:
      Etag:
      - W/"38547130b8b57410d3863de18b464235"
      Link:
      - <https://gitlab.com/api/v4/users?active=false&admins=false&blocked=false&external=false&page=1&per_page=20&skip_ldap=false&username=admiralawkbar&with_custom_attributes=false>;
        rel="first", <https://gitlab.com/api/v4/users?active=false&admins=false&blocked=false&external=false&page=1&per_page=20&skip_ldap=false&username=admiralawkbar&with_custom_attributes=false>;
        rel="last"
      X-Gitlab-Feature-Category:
      - users
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '1'
      X-Total-Pages:
      - '1'
      Ratelimit-Observed:
      - '18'
      Ratelimit-Remaining:
      - '1982'
      Ratelimit-Reset:
      - '1617908089'
      Ratelimit-Resettime:
      - Thu, 08 Apr 2021 18:54:49 GMT
      Ratelimit-Limit:
      - '2000'
      Gitlab-Lb:
      - fe-07-lb-gprd
      Gitlab-Sv:
      - localhost
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 08 Apr 2021 18:53:49 GMT
- request:
    method: get
    uri: https://gitlab.com/api/v4/users?username=mechashark-test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
      If-None-Match:
      - W/"0da1d420725cbd70d36f92334be3802c"
  response:
    status:
      code: 304
      message: Not Modified
    headers:
      Etag:
      - W/"0da1d420725cbd70d36f92334be3802c"
      Link:
      - <https://gitlab.com/api/v4/users?active=false&admins=false&blocked=false&external=false&page=1&per_page=20&skip_ldap=false&username=mechashark-test&with_custom_attributes=false>;
        rel="first", <https://gitlab.com/api/v4/users?active=false&admins=false&blocked=false&external=false&page=1&per_page=20&skip_ldap=false&username=mechashark-test&with_custom_attributes=false>;
        rel="last"
      X-Gitlab-Feature-Category:
      - users
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '1'
      X-Total-Pages:
      - '1'
      Ratelimit-Observed:
      - '19'
      Ratelimit-Remaining:
      - '1981'
      Ratelimit-Reset:
      - '1617908089'
      Ratelimit-Resettime:
      - Thu, 08 Apr 2021 18:54:49 GMT
      Ratelimit-Limit:
      - '2000'
      Gitlab-Lb:
      - fe-04-lb-gprd
      Gitlab-Sv:
      - localhost
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 08 Apr 2021 18:53:49 GMT
- request:
    method: get
    uri: https://gitlab.com/api/v4/users?username=keerthanakumar
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
      If-None-Match:
      - W/"725569d8f2768a3ea04eabd3a74b2b77"
  response:
    status:
      code: 304
      message: Not Modified
    headers:
      Etag:
      - W/"725569d8f2768a3ea04eabd3a74b2b77"
      Link:
      - <https://gitlab.com/api/v4/users?active=false&admins=false&blocked=false&external=false&page=1&per_page=20&skip_ldap=false&username=keerthanakumar&with_custom_attributes=false>;
        rel="first", <https://gitlab.com/api/v4/users?active=false&admins=false&blocked=false&external=false&page=1&per_page=20&skip_ldap=false&username=keerthanakumar&with_custom_attributes=false>;
        rel="last"
      X-Gitlab-Feature-Category:
      - users
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '1'
      X-Total-Pages:
      - '1'
      Ratelimit-Observed:
      - '20'
      Ratelimit-Remaining:
      - '1980'
      Ratelimit-Reset:
      - '1617908089'
      Ratelimit-Resettime:
      - Thu, 08 Apr 2021 18:54:49 GMT
      Ratelimit-Limit:
      - '2000'
      Gitlab-Lb:
      - fe-01-lb-gprd
      Gitlab-Sv:
      - localhost
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 08 Apr 2021 18:53:49 GMT
- request:
    method: get
    uri: https://gitlab.com/api/v4/users?username=brianaj
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
      If-None-Match:
      - W/"c7f2106e30b24d8e9e03b64f91846f6f"
  response:
    status:
      code: 304
      message: Not Modified
    headers:
      Etag:
      - W/"c7f2106e30b24d8e9e03b64f91846f6f"
      Link:
      - <https://gitlab.com/api/v4/users?active=false&admins=false&blocked=false&external=false&page=1&per_page=20&skip_ldap=false&username=brianaj&with_custom_attributes=false>;
        rel="first", <https://gitlab.com/api/v4/users?active=false&admins=false&blocked=false&external=false&page=1&per_page=20&skip_ldap=false&username=brianaj&with_custom_attributes=false>;
        rel="last"
      X-Gitlab-Feature-Category:
      - users
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '1'
      X-Total-Pages:
      - '1'
      Ratelimit-Observed:
      - '21'
      Ratelimit-Remaining:
      - '1979'
      Ratelimit-Reset:
      - '1617908090'
      Ratelimit-Resettime:
      - Thu, 08 Apr 2021 18:54:50 GMT
      Ratelimit-Limit:
      - '2000'
      Gitlab-Lb:
      - fe-06-lb-gprd
      Gitlab-Sv:
      - localhost
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 08 Apr 2021 18:53:50 GMT
- request:
    method: get
    uri: https://gitlab.com/api/v4/users?username=iomekam
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
      If-None-Match:
      - W/"ec73e732fa1799b912385b94b6bad26b"
  response:
    status:
      code: 304
      message: Not Modified
    headers:
      Etag:
      - W/"ec73e732fa1799b912385b94b6bad26b"
      Link:
      - <https://gitlab.com/api/v4/users?active=false&admins=false&blocked=false&external=false&page=1&per_page=20&skip_ldap=false&username=iomekam&with_custom_attributes=false>;
        rel="first", <https://gitlab.com/api/v4/users?active=false&admins=false&blocked=false&external=false&page=1&per_page=20&skip_ldap=false&username=iomekam&with_custom_attributes=false>;
        rel="last"
      X-Gitlab-Feature-Category:
      - users
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '1'
      X-Total-Pages:
      - '1'
      Ratelimit-Observed:
      - '22'
      Ratelimit-Remaining:
      - '1978'
      Ratelimit-Reset:
      - '1617908090'
      Ratelimit-Resettime:
      - Thu, 08 Apr 2021 18:54:50 GMT
      Ratelimit-Limit:
      - '2000'
      Gitlab-Lb:
      - fe-03-lb-gprd
      Gitlab-Sv:
      - localhost
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 08 Apr 2021 18:53:50 GMT
- request:
    method: get
    uri: https://gitlab.com/api/v4/projects/1169162/labels?page=1&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
      If-None-Match:
      - W/"c10f5a7f7973ff9c7a33bbdc6e616f72"
  response:
    status:
      code: 304
      message: Not Modified
    headers:
      Etag:
      - W/"c10f5a7f7973ff9c7a33bbdc6e616f72"
      Link:
      - <https://gitlab.com/api/v4/projects/1169162/labels?id=1169162&include_ancestor_groups=true&page=1&per_page=100&with_counts=false>;
        rel="first", <https://gitlab.com/api/v4/projects/1169162/labels?id=1169162&include_ancestor_groups=true&page=1&per_page=100&with_counts=false>;
        rel="last"
      X-Gitlab-Feature-Category:
      - issue_tracking
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '100'
      X-Prev-Page:
      - ''
      X-Total:
      - '3'
      X-Total-Pages:
      - '1'
      Ratelimit-Observed:
      - '23'
      Ratelimit-Remaining:
      - '1977'
      Ratelimit-Reset:
      - '1617908090'
      Ratelimit-Resettime:
      - Thu, 08 Apr 2021 18:54:50 GMT
      Ratelimit-Limit:
      - '2000'
      Gitlab-Lb:
      - fe-02-lb-gprd
      Gitlab-Sv:
      - localhost
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 08 Apr 2021 18:53:50 GMT
- request:
    method: get
    uri: https://gitlab.com/api/v4/projects/1169162/members
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
      If-None-Match:
      - W/"ab3aece55207d3c64a2740638862909d"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ea7239145e9cb76a6e09fdd4b763cdf9"
      Link:
      - <https://gitlab.com/api/v4/projects/1169162/me[...]
- request:
    method: get
    uri: https://gitlab.com/api/v4/projects/1169162/repository/tags
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
      If-None-Match:
      - W/"3121824c26d13801832ac3d35a0ea62b"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4cb858b704032f080d7549e64697992d"
      Link:
      - <https://gitlab.com/api/v4/projects/1169162/repository/tags?id=1169162&order_by=updated&page=1&per_page=20&sort=desc>;
        rel="first", <https://gitlab.com/api/v4/projects/1169162/repository/tags?id=1169162&order_by=updated&page=1&per_page=20&sort=desc>;
        rel="last"
      X-Gitlab-Feature-Category:
      - source_code_management
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '3'
      X-Total-Pages:
      - '1'
      Ratelimit-Observed:
      - '25'
      Ratelimit-Remaining:
      - '1975'
      Ratelimit-Reset:
      - '1617908091'
      Ratelimit-Resettime:
      - Thu, 08 Apr 2021 18:54:51 GMT
      Ratelimit-Limit:
      - '2000'
      Gitlab-Lb:
      - fe-03-lb-gprd
      Gitlab-Sv:
      - localhost
    body:
      encoding: ASCII-8BIT
[...]
