---
http_interactions:
- request:
    method: get
    uri: https://gitlab.com/api/v4/projects/1169162/merge_requests/10/commits
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d751713988987e9331980363e24189ce"
      Link:
      - <https://gitlab.com/api/v4/projects/1169162/merge_requests/10/commits?id=1169162&merge_request_iid=10&page=1&per_page=20>;
        rel="first", <https://gitlab.com/api/v4/projects/1169162/merge_requests/10/commits?id=1169162&merge_request_iid=10&page=1&per_page=20>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '0'
      X-Total-Pages:
      - '1'
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Sun, 27 Aug 2017 21:09:28 GMT
- request:
    method: get
    uri: https://gitlab.com/api/v4/users?username=synthead
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"27dd61babdc7333f02a2e086a2440fd6"
      Link:
      - <https://gitlab.com/api/v4/users?active=false&blocked=false&external=false&page=1&per_page=20&skip_ldap=false&username=synthead>;
        rel="first", <https://gitlab.com/api/v4/users?active=false&blocked=false&external=false&page=1&per_page=20&skip_ldap=false&username=synthead>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '1'
      X-Total-Pages:
      - '1'
    body:
      encoding: UTF-8
      string: '[{"name":"Maxwell Pray","username":"synthead","id":1477621,"state":"active","avatar_url":"https://gitlab.com/uploads/-/system/user/avatar/1477621/avatar.png","web_url":"https://gitlab.com/synthead"}]'
  recorded_at: Sun, 27 Aug 2017 21:09:29 GMT
- request:
    method: get
    uri: https://gitlab.com/api/v4/projects/1169162/merge_requests/10/notes?page=1&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5e32f0b17b6ecc1640f751b5fec491aa"
      Link:
      - <https://gitlab.com/api/v4/projects/1169162/merge_requests/10/notes?id=1169162&noteable_id=10&page=1&per_page=100>;
        rel="first", <https://gitlab.com/api/v4/projects/1169162/merge_requests/10/notes?id=1169162&noteable_id=10&page=1&per_page=100>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '100'
      X-Prev-Page:
      - ''
      X-Total:
      - '2'
      X-Total-Pages:
      - '1'
    body:
      encoding: UTF-8
      string: '[{"id":36005564,"body":"![image](/uploads/985f268ee941b49994d694f60b3e5203/image.png)","attachment":null,"author":{"name":"Maxwell
        Pray","username":"synthead","id":1477621,"state":"active","avatar_url":"https://gitlab.com/uploads/-/system/user/avatar/1477621/avatar.png","web_url":"https://gitlab.com/synthead"},"created_at":"2017-07-26T17:34:57.572Z","updated_at":"2017-07-26T17:34:57.572Z","system":false,"noteable_id":4385181,"noteable_type":"MergeRequest","noteable_iid":10},{"id":36005529,"body":"Test
        comment","attachment":null,"author":{"name":"Maxwell Pray","username":"synthead","id":1477621,"state":"active","avatar_url":"https://gitlab.com/uploads/-/system/user/avatar/1477621/avatar.png","web_url":"https://gitlab.com/synthead"},"created_at":"2017-07-26T17:34:19.879Z","updated_at":"2017-07-26T17:34:19.879Z","system":false,"noteable_id":4385181,"noteable_type":"MergeRequest","noteable_iid":10}]'
  recorded_at: Sun, 27 Aug 2017 21:09:30 GMT
recorded_with: VCR 3.0.3
