---
http_interactions:
- request:
    method: get
    uri: https://gitlab.com/api/v4/users?username=Mouse-Hack
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d751713988987e9331980363e24189ce"
      Link:
      - <https://gitlab.com/api/v4/users?active=false&blocked=false&external=false&page=1&per_page=20&skip_ldap=false&username=Mouse-Hack>;
        rel="first", <https://gitlab.com/api/v4/users?active=false&blocked=false&external=false&page=1&per_page=20&skip_ldap=false&username=Mouse-Hack>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '0'
      X-Total-Pages:
      - '1'
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Tue, 29 Aug 2017 04:37:55 GMT
- request:
    method: get
    uri: https://gitlab.com/api/v4/groups/Mouse-Hack
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a085938be211980ef82985d3a5fed60e"
    body:
      encoding: UTF-8
      string: '{"id":627189,"name":"Mouse-Hack","path":"Mouse-Hack","description":"","visibility":"public","ldap_cn":null,"ldap_access":null,"lfs_enabled":true,"avatar_url":null,"web_url":"https://gitlab.com/groups/Mouse-Hack","request_access_enabled":true,"full_name":"Mouse-Hack","full_path":"Mouse-Hack","parent_id":null,"projects":[{"id":3925428,"description":"Test
        project that includes a wiki","default_branch":"main","tag_list":[],"ssh_url_to_repo":"git@gitlab.com:Mouse-Hack/wiki-test.git","http_url_to_repo":"https://gitlab.com/Mouse-Hack/wiki-test.git","web_url":"https://gitlab.com/Mouse-Hack/wiki-test","name":"wiki-test","name_with_namespace":"Mouse-Hack
        / wiki-test","path":"wiki-test","path_with_namespace":"Mouse-Hack/wiki-test","star_count":0,"forks_count":0,"created_at":"2017-08-15T14:36:41.511Z","last_activity_at":"2017-08-23T21:56:15.288Z","_links":{"self":"http://gitlab.com/api/v4/projects/3925428","merge_requests":"http://gitlab.com/api/v4/projects/3925428/merge_requests","repo_branches":"http://gitlab.com/api/v4/projects/3925428/repository/branches","labels":"http://gitlab.com/api/v4/projects/3925428/labels","events":"http://gitlab.com/api/v4/projects/3925428/events","members":"http://gitlab.com/api/v4/projects/3925428/members"},"archived":false,"visibility":"private","container_registry_enabled":true,"issues_enabled":false,"merge_requests_enabled":true,"wiki_enabled":true,"jobs_enabled":true,"snippets_enabled":true,"shared_runners_enabled":true,"lfs_enabled":true,"creator_id":1238984,"namespace":{"id":627189,"name":"Mouse-Hack","path":"Mouse-Hack","kind":"group","full_path":"Mouse-Hack","parent_id":null,"members_count_with_descendants":10,"plan":null},"import_status":"none","avatar_url":null,"public_jobs":true,"ci_config_path":null,"shared_with_groups":[],"only_allow_merge_if_pipeline_succeeds":false,"request_access_enabled":false,"only_allow_merge_if_all_discussions_are_resolved":false,"printing_merge_request_link_enabled":true,"approvals_before_merge":0},{"id":3795166,"description":"testing
        lock proj","default_branch":"master","tag_list":[],"ssh_url_to_repo":"git@gitlab.com:Mouse-Hack/test-lock.git","http_url_to_repo":"https://gitlab.com/Mouse-Hack/test-lock.git","web_url":"https://gitlab.com/Mouse-Hack/test-lock","name":"test-lock","name_with_namespace":"Mouse-Hack
        / test-lock","path":"test-lock","path_with_namespace":"Mouse-Hack/test-lock","star_count":0,"forks_count":0,"created_at":"2017-07-27T17:13:22.497Z","last_activity_at":"2017-07-27T17:13:22.497Z","_links":{"self":"http://gitlab.com/api/v4/projects/3795166","issues":"http://gitlab.com/api/v4/projects/3795166/issues","merge_requests":"http://gitlab.com/api/v4/projects/3795166/merge_requests","repo_branches":"http://gitlab.com/api/v4/projects/3795166/repository/branches","labels":"http://gitlab.com/api/v4/projects/3795166/labels","events":"http://gitlab.com/api/v4/projects/3795166/events","members":"http://gitlab.com/api/v4/projects/3795166/members"},"archived":true,"visibility":"private","container_registry_enabled":true,"issues_enabled":true,"merge_requests_enabled":true,"wiki_enabled":true,"jobs_enabled":true,"snippets_enabled":true,"shared_runners_enabled":true,"lfs_enabled":true,"creator_id":1238984,"namespace":{"id":627189,"name":"Mouse-Hack","path":"Mouse-Hack","kind":"group","full_path":"Mouse-Hack","parent_id":null,"members_count_with_descendants":10,"plan":null},"import_status":"none","avatar_url":null,"open_issues_count":0,"public_jobs":true,"ci_config_path":null,"shared_with_groups":[],"only_allow_merge_if_pipeline_succeeds":false,"request_access_enabled":false,"only_allow_merge_if_all_discussions_are_resolved":false,"printing_merge_request_link_enabled":true,"approvals_before_merge":0},{"id":2192203,"description":"","default_branch":null,"tag_list":[],"ssh_url_to_repo":"git@gitlab.com:Mouse-Hack/brand-new.git","http_url_to_repo":"https://gitlab.com/Mouse-Hack/brand-new.git","web_url":"https://gitlab.com/Mouse-[...]
- request:
    method: get
    uri: https://gitlab.com/api/v4/groups/Mouse-Hack/members?page=1&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f40adcc6f1d7358a4bf94064ed7e051a"
      Link:
      - <https://gitlab.com/api/v4/groups/Mouse-Hack/members?id=Mouse-Hack&page=1&per_page=100>;
        rel="first", <https://gitlab.com/api/v4/groups/Mouse-Hack/members?id=Mouse-Hack&page=1&per_page=100>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '100'
      X-Prev-Page:
      - ''
      X-Total:
      - '10'
      X-Total-Pages:
      - '1'
    body:
      encoding: UTF-8
      string: '[{"name":"Maxwell Pray","username":"synthead","id":1477621,"state":"active","avatar_url":"https://gitlab.com/uploads/-/system/user/avatar/1477621/avatar.png","web_url":"https://gitlab.com/synthead","access_level":50,"expires_at":null},{"name":"Jeff
        Jewtt","username":"jkjewett","id":1474011,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/a6df7faef903e68cc2fbbb03195e5eb4?s=80\u0026d=identicon","web_url":"https://gitlab.com/jkjewett","access_level":10,"expires_at":null},{"name":"James
        Garcia","username":"colossus9","id":1292088,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/1b174a060796c583b11a1fbaf1a0f9af?s=80\u0026d=identicon","web_url":"https://gitlab.com/colossus9","[...]
- request:
    method: get
    uri: https://gitlab.com/api/v4/users?username=synthead
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"27dd61babdc7333f02a2e086a2440fd6"
      Link:
      - <https://gitlab.com/api/v4/users?active=false&blocked=false&external=false&page=1&per_page=20&skip_ldap=false&username=synthead>;
        rel="first", <https://gitlab.com/api/v4/users?active=false&blocked=false&external=false&page=1&per_page=20&skip_ldap=false&username=synthead>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '1'
      X-Total-Pages:
      - '1'
    body:
      encoding: UTF-8
      string: '[{"name":"Maxwell Pray","username":"synthead","id":1477621,"state":"active","avatar_url":"https://gitlab.com/uploads/-/system/user/avatar/1477621/avatar.png","web_url":"https://gitlab.com/synthead"}]'
  recorded_at: Tue, 29 Aug 2017 04:37:58 GMT
- request:
    method: get
    uri: https://gitlab.com/api/v4/users?username=jkjewett
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"46e53a4e0f06a74a94ec3257aeacddc5"
      Link:
      - <https://gitlab.com/api/v4/users?active=false&blocked=false&external=false&page=1&per_page=20&skip_ldap=false&username=jkjewett>;
        rel="first", <https://gitlab.com/api/v4/users?active=false&blocked=false&external=false&page=1&per_page=20&skip_ldap=false&username=jkjewett>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '1'
      X-Total-Pages:
      - '1'
    body:
      encoding: UTF-8
      string: '[{"name":"Jeff Jewtt","username":"jkjewett","id":1474011,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/a6df7faef903e68cc2fbbb03195e5eb4?s=80\u0026d=identicon","web_url":"https://gitlab.com/jkjewett"}]'
  recorded_at: Tue, 29 Aug 2017 04:37:59 GMT
- request:
    method: get
    uri: https://gitlab.com/api/v4/users?username=colossus9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"bff02fce781b060dc2a1b6a64c362f1d"
      Link:
      - <https://gitlab.com/api/v4/users?active=false&blocked=false&external=false&page=1&per_page=20&skip_ldap=false&username=colossus9>;
        rel="first", <https://gitlab.com/api/v4/users?active=false&blocked=false&external=false&page=1&per_page=20&skip_ldap=false&username=colossus9>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '1'
      X-Total-Pages:
      - '1'
    body:
      encoding: UTF-8
      string: '[{"name":"James Garcia","username":"colossus9","id":1292088,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/1b174a060796c583b11a1fbaf1a0f9af?s=80\u0026d=identicon","web_url":"https://gitlab.com/colossus9"}]'
  recorded_at: Tue, 29 Aug 2017 04:38:00 GMT
- request:
    method: get
    uri: https://gitlab.com/api/v4/users?username=dpmex4527
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"355bd64c43a4825a005162767eeeb709"
      Link:
      - <https://gitlab.com/api/v4/users?active=false&blocked=false&external=false&page=1&per_page=20&skip_ldap=false&username=dpmex4527>;
        rel="first", <https://gitlab.com/api/v4/users?active=false&blocked=false&external=false&page=1&per_page=20&skip_ldap=false&username=dpmex4527>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '1'
      X-Total-Pages:
      - '1'
    body:
      encoding: UTF-8
      string: '[{"name":"Daniel Perez","username":"dpmex4527","id":1238984,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/47338cb6ea1c84bfd0bbafd6a1298f3d?s=80\u0026d=identicon","web_url":"https://gitlab.com/dpmex4527"}]'
  recorded_at: Tue, 29 Aug 2017 04:38:00 GMT
- request:
    method: get
    uri: https://gitlab.com/api/v4/users?username=mattcantstop
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"7d3c97ef75b27a399955613c9a55411c"
      Link:
      - <https://gitlab.com/api/v4/users?active=false&blocked=false&external=false&page=1&per_page=20&skip_ldap=false&username=mattcantstop>;
        rel="first", <https://gitlab.com/api/v4/users?active=false&blocked=false&external=false&page=1&per_page=20&skip_ldap=false&username=mattcantstop>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '1'
      X-Total-Pages:
      - '1'
    body:
      encoding: UTF-8
      string: '[{"name":"Matt","username":"mattcantstop","id":417001,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/9c1fb6cb9d54ce36a84cca0aa4567ea3?s=80\u0026d=identicon","web_url":"https://gitlab.com/mattcantstop"}]'
  recorded_at: Tue, 29 Aug 2017 04:38:01 GMT
- request:
    method: get
    uri: https://gitlab.com/api/v4/users?username=ehale
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"84bf783b10b639acbc9f662aae71b30b"
      Link:
      - <https://gitlab.com/api/v4/users?active=false&blocked=false&external=false&page=1&per_page=20&skip_ldap=false&username=ehale>;
        rel="first", <https://gitlab.com/api/v4/users?active=false&blocked=false&external=false&page=1&per_page=20&skip_ldap=false&username=ehale>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '1'
      X-Total-Pages:
      - '1'
    body:
      encoding: UTF-8
      string: '[{"name":"Lizz Hale","username":"ehale","id":47125,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/12732e93949b0450ff987ae2d409a261?s=80\u0026d=identicon","web_url":"https://gitlab.com/ehale"}]'
  recorded_at: Tue, 29 Aug 2017 04:38:02 GMT
- request:
    method: get
    uri: https://gitlab.com/api/v4/users?username=lizzhale
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"3249c36c75bc4ef750124820b232d83b"
      Link:
      - <https://gitlab.com/api/v4/users?active=false&blocked=false&external=false&page=1&per_page=20&skip_ldap=false&username=lizzhale>;
        rel="first", <https://gitlab.com/api/v4/users?active=false&blocked=false&external=false&page=1&per_page=20&skip_ldap=false&username=lizzhale>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '1'
      X-Total-Pages:
      - '1'
    body:
      encoding: UTF-8
      string: '[{"name":"Lizz","username":"lizzhale","id":529949,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/d36cdb93d0f85b5d7b76a183834d4350?s=80\u0026d=identicon","web_url":"https://gitlab.com/lizzhale"}]'
  recorded_at: Tue, 29 Aug 2017 04:38:02 GMT
- request:
    method: get
    uri: https://gitlab.com/api/v4/users?username=jonmagic
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ca6e9eab8324ba4eb25f7a78100dc4d6"
      Link:
      - <https://gitlab.com/api/v4/users?active=false&blocked=false&external=false&page=1&per_page=20&skip_ldap=false&username=jonmagic>;
        rel="first", <https://gitlab.com/api/v4/users?active=false&blocked=false&external=false&page=1&per_page=20&skip_ldap=false&username=jonmagic>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '1'
      X-Total-Pages:
      - '1'
    body:
      encoding: UTF-8
      string: '[{"name":"Jon Magic","username":"jonmagic","id":529946,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/7064ad438246a02809c85bcd92cb5f3f?s=80\u0026d=identicon","web_url":"https://gitlab.com/jonmagic"}]'
  recorded_at: Tue, 29 Aug 2017 04:38:03 GMT
- request:
    method: get
    uri: https://gitlab.com/api/v4/users?username=kylemacey
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"0397cdea7058336bfa759c4e444f4a63"
      Link:
      - <https://gitlab.com/api/v4/users?active=false&blocked=false&external=false&page=1&per_page=20&skip_ldap=false&username=kylemacey>;
        rel="first", <https://gitlab.com/api/v4/users?active=false&blocked=false&external=false&page=1&per_page=20&skip_ldap=false&username=kylemacey>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '1'
      X-Total-Pages:
      - '1'
    body:
      encoding: UTF-8
      string: '[{"name":"Kyle Macey","username":"kylemacey","id":414903,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/e7bc3ce1dbb0fcaa9bb00bf10628526e?s=80\u0026d=identicon","web_url":"https://gitlab.com/kylemacey"}]'
  recorded_at: Tue, 29 Aug 2017 04:38:03 GMT
- request:
    method: get
    uri: https://gitlab.com/api/v4/users?username=spraints
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"bd3f9f832a13324f9c4c04c0ec6eb0a5"
      Link:
      - <https://gitlab.com/api/v4/users?active=false&blocked=false&external=false&page=1&per_page=20&skip_ldap=false&username=spraints>;
        rel="first", <https://gitlab.com/api/v4/users?active=false&blocked=false&external=false&page=1&per_page=20&skip_ldap=false&username=spraints>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '1'
      X-Total-Pages:
      - '1'
    body:
      encoding: UTF-8
      string: '[{"name":"Matt","username":"spraints","id":142189,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/0bf208eebdab7c5d16152f70a1ee837f?s=80\u0026d=identicon","web_url":"https://gitlab.com/spraints"}]'
  recorded_at: Tue, 29 Aug 2017 04:38:04 GMT
recorded_with: VCR 3.0.3
