---
http_interactions:
- request:
    method: get
    uri: https://gitlab.com/api/v4/projects/Mouse-Hack%2Fhugo-pages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"334d190ed961c79abd832a33e3a7a9b6"
      Ratelimit-Observed:
      - '2'
      Ratelimit-Remaining:
      - '1998'
      Ratelimit-Reset:
      - '1651854705'
      Ratelimit-Resettime:
      - Fri, 06 May 2022 16:31:45 GMT
      Ratelimit-Limit:
      - '2000'
      Gitlab-Lb:
      - fe-03-lb-gprd
      Gitlab-Sv:
      - localhost
    body:
      encoding: ASCII-8BIT
      string: '{"id":1169162,"description":"Wanna use something other than jekyll?
        Try this one weird trick. er, actually a bunch of tricks, glued together.","name":"hugo-pages","name_with_namespace":"Mouse-Hack
        / hugo-pages","path":"hugo-pages","path_with_namespace":"Mouse-Hack/hugo-pages","created_at":"2016-05-10T21:15:14.616Z","default_branch":"master","tag_list":[],"topics":[],"ssh_url_to_repo":"git@gitlab.com:Mouse-Hack/hugo-pages.git","http_url_to_repo":"https://gitlab.com/Mouse-Hack/hugo-pages.git","web_url":"https://gitlab.com/Mouse-Hack/hugo-pages","readme_url":"https://gitlab.com/Mouse-Hack/hugo-pages/-/blob/master/README.md","avatar_url":null,"forks_count":1,"star_count":0,"last_activity_at":"2020-08-10T16:21:24.171Z","namespace":{"id":627189,"name":"Mouse-Hack","path":"Mouse-Hack","kind":"group","full_path":"Mouse-Hack","parent_id":null,"avatar_url":null,"web_url":"https://gitlab.com/groups/Mouse-Hack"},"container_registry_image_prefix":"registry.gitlab.com/mouse-hack/hugo-pages","_links":{"self":"https://gitlab.com/api/v4/projects/1169162","issues":"https://gitlab.com/api/v4/projects/1169162/issues","merge_requests":"https://gitlab.com/api/v4/projects/1169162/merge_requests","repo_branches":"https://gitlab.com/api/v4/projects/1169162/repository/branches","labels":"https://gitlab.com/api/v4/projects/1169162/labels","events":"https://gitlab.com/api/v4/projects/1169162/events","members":"https://gitlab.com/api/v4/projects/1169162/members","cluster_agents":"https://gitlab.com/api/v4/projects/1169162/cluster_agents"},"packages_enabled":null,"empty_repo":false,"archived":false,"visibility":"private","resolve_outdated_diff_discussions":null,"issues_enabled":true,"merge_requests_enabled":true,"wiki_enabled":true,"jobs_enabled":true,"snippets_enabled":false,"container_registry_enabled":false,"service_desk_enabled":null,"service_desk_address":"contact-project+mouse-hack-hugo-pages-1169162-issue-@incoming.gitlab.com","can_create_merge_request_in":true,"issues_access_level":"enabled","repository_access_level":"enabled","merge_requests_access_level":"enabled","forking_access_level":"enabled","wiki_access_level":"private","builds_access_level":"enabled","snippets_access_level":"disabled","pages_access_level":"public","operations_access_level":"enabled","analytics_access_level":"enabled","container_registry_access_level":"disabled","security_and_compliance_access_level":"private","emails_disabled":null,"shared_runners_enabled":true,"lfs_enabled":true,"creator_id":142189,"import_url":"","import_type":null,"import_status":"none","import_error":null,"open_issues_count":7,"runners_token":"GR1348941uzamCoyCDb3Jx922ywJT","ci_default_git_depth":null,"ci_forward_deployment_enabled":null,"ci_job_token_scope_enabled":false,"public_jobs":true,"build_git_strategy":"fetch","build_timeout":3600,"auto_cancel_pending_pipelines":"enabled","ci_config_path":null,"shared_with_groups":[{"group_id":627189,"group_name":"Mouse-Hack","group_full_path":"Mouse-Hack","group_access_level":30,"expires_at":null}],"only_allow_merge_if_pipeline_succeeds":false,"allow_merge_on_skipped_pipeline":null,"restrict_user_defined_variables":false,"request_access_enabled":true,"only_allow_merge_if_all_discussions_are_resolved":null,"remove_source_branch_after_merge":null,"printing_merge_request_link_enabled":true,"merge_method":"merge","squash_option":"default_off","enforce_auth_checks_on_uploads":true,"suggestion_commit_message":null,"merge_commit_template":null,"squash_commit_template":null,"auto_devops_enabled":false,"auto_devops_deploy_strategy":"continuous","autoclose_referenced_issues":true,"keep_latest_artifact":true,"runner_token_expiration_interval":null,"external_authorization_classification_label":"","requirements_enabled":false,"requirements_access_level":"enabled","security_and_compliance_enabled":true,"compliance_frameworks":[],"permissions":{"project_access":null,"group_access":{"access_level":50,"notification_level":3}}}'
  recorded_at: Fri, 06 May 2022 16:30:45 GMT
recorded_with: VCR 3.0.3
