---
http_interactions:
- request:
    method: get
    uri: https://gitlab.com/api/v4/projects/Mouse-Hack%2Fhugo-pages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ee7cb720c514cdd6c127ee803e4a3488"
    body:
      encoding: UTF-8
      string: '{"id":1169162,"description":"Wanna use something other than jekyll?
        Try this one weird trick. er, actually a bunch of tricks, glued together.","default_branch":"master","tag_list":[],"ssh_url_to_repo":"git@gitlab.com:Mouse-Hack/hugo-pages.git","http_url_to_repo":"https://gitlab.com/Mouse-Hack/hugo-pages.git","web_url":"https://gitlab.com/Mouse-Hack/hugo-pages","name":"hugo-pages","name_with_namespace":"Mouse-Hack
        / hugo-pages","path":"hugo-pages","path_with_namespace":"Mouse-Hack/hugo-pages","star_count":0,"forks_count":1,"created_at":"2016-05-10T21:15:14.616Z","last_activity_at":"2017-08-22T20:01:05.186Z","_links":{"self":"http://gitlab.com/api/v4/projects/1169162","issues":"http://gitlab.com/api/v4/projects/1169162/issues","merge_requests":"http://gitlab.com/api/v4/projects/1169162/merge_requests","repo_branches":"http://gitlab.com/api/v4/projects/1169162/repository/branches","labels":"http://gitlab.com/api/v4/projects/1169162/labels","events":"http://gitlab.com/api/v4/projects/1169162/events","members":"http://gitlab.com/api/v4/projects/1169162/members"},"archived":false,"visibility":"private","container_registry_enabled":null,"issues_enabled":true,"merge_requests_enabled":true,"wiki_enabled":true,"jobs_enabled":true,"snippets_enabled":false,"shared_runners_enabled":true,"lfs_enabled":true,"creator_id":142189,"namespace":{"id":627189,"name":"Mouse-Hack","path":"Mouse-Hack","kind":"group","full_path":"Mouse-Hack","parent_id":null,"members_count_with_descendants":10,"plan":null},"import_status":"none","import_error":null,"avatar_url":null,"open_issues_count":6,"runners_token":"nbZkxy8zkQz8sjtFtWGW","public_jobs":true,"ci_config_path":null,"shared_with_groups":[{"group_id":627189,"group_name":"Mouse-Hack","group_access_level":30}],"only_allow_merge_if_pipeline_succeeds":false,"request_access_enabled":true,"only_allow_merge_if_all_discussions_are_resolved":null,"printing_merge_request_link_enabled":true,"approvals_before_merge":0,"permissions":{"project_access":null,"group_access":{"access_level":50,"notification_level":3}}}'
  recorded_at: Sun, 27 Aug 2017 01:11:49 GMT
recorded_with: VCR 3.0.3
