---
http_interactions:
- request:
    method: get
    uri: https://gitlab.com/api/v4/users?username=78491623
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"69b67738c532628c1b5f7c044549a465"
      Link:
      - <https://gitlab.com/api/v4/users?active=false&blocked=false&external=false&page=1&per_page=20&skip_ldap=false&username=78491623&with_custom_attributes=false>;
        rel="first", <https://gitlab.com/api/v4/users?active=false&blocked=false&external=false&page=1&per_page=20&skip_ldap=false&username=78491623&with_custom_attributes=false>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '1'
      X-Total-Pages:
      - '1'
      Ratelimit-Limit:
      - '600'
      Ratelimit-Observed:
      - '1'
      Ratelimit-Remaining:
      - '599'
      Ratelimit-Reset:
      - '1569337214'
      Ratelimit-Resettime:
      - Tue, 24 Sep 2019 15:00:14 GMT
      Gitlab-Lb:
      - fe-18-lb-gprd
      Gitlab-Sv:
      - localhost
    body:
      encoding: UTF-8
      string: '[{"id":4676821,"name":"78491623","username":"78491623","state":"active","avatar_url":"https://secure.gravatar.com/avatar/44c7e334dbb5051e9e376b96d6490ada?s=80\u0026d=identicon","web_url":"https://gitlab.com/78491623"}]'
  recorded_at: Tue, 24 Sep 2019 14:59:14 GMT
recorded_with: VCR 3.0.3
