---
http_interactions:
- request:
    method: get
    uri: https://gitlab.com/api/v4/users?username=Mouse-Hack
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d751713988987e9331980363e24189ce"
      Link:
      - <https://gitlab.com/api/v4/users?active=false&blocked=false&external=false&page=1&per_page=20&skip_ldap=false&username=Mouse-Hack>;
        rel="first", <https://gitlab.com/api/v4/users?active=false&blocked=false&external=false&page=1&per_page=20&skip_ldap=false&username=Mouse-Hack>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '0'
      X-Total-Pages:
      - '1'
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Sun, 27 Aug 2017 06:27:57 GMT
- request:
    method: get
    uri: https://gitlab.com/api/v4/groups/Mouse-Hack
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a085938be211980ef82985d3a5fed60e"
    body:
      encoding: UTF-8
      string: '{"id":627189,"name":"Mouse-Hack","path":"Mouse-Hack","description":"","visibility":"public","ldap_cn":null,"ldap_access":null,"lfs_enabled":true,"avatar_url":null,"web_url":"https://gitlab.com/groups/Mouse-Hack","request_access_enabled":true,"full_name":"Mouse-Hack","full_path":"Mouse-Hack","parent_id":null,"projects":[{"id":3925428,"description":"Test
        project that includes a wiki","default_branch":"main","tag_list":[],"ssh_url_to_repo":"git@gitlab.com:Mouse-Hack/wiki-test.git","http_url_to_repo":"https://gitlab.com/Mouse-Hack/wiki-test.git","web_url":"https://gitlab.com/Mouse-Hack/wiki-test","name":"wiki-test","name_with_namespace":"Mouse-Hack
        / wiki-test","path":"wiki-test","path_with_namespace":"Mouse-Hack/wiki-test","star_count":0,"forks_count":0,"created_at":"2017-08-15T14:36:41.511Z","last_activity_at":"2017-08-23T21:56:15.288Z","_links":{"self":"http://gitlab.com/api/v4/projects/3925428","merge_requests":"http://gitlab.com/api/v4/projects/3925428/merge_requests","repo_branches":"http://gitlab.com/api/v4/projects/3925428/repository/branches","labels":"http://gitlab.com/api/v4/projects/3925428/labels","events":"http://gitlab.com/api/v4/projects/3925428/events","members":"http://gitlab.com/api/v4/projects/3925428/members"},"archived":false,"visibility":"private","container_registry_enabled":true,"issues_enabled":false,"merge_requests_enabled":true,"wiki_enabled":true,"jobs_enabled":true,"snippets_enabled":true,"shared_runners_enabled":true,"lfs_enabled":true,"creator_id":1238984,"namespace":{"id":627189,"name":"Mouse-Hack","path":"Mouse-Hack","kind":"group","full_path":"Mouse-Hack","parent_id":null,"members_count_with_descendants":10,"plan":null},"import_status":"none","avatar_url":null,"public_jobs":true,"ci_config_path":null,"shared_with_groups":[],"only_allow_merge_if_pipeline_succeeds":false,"request_access_enabled":false,"only_allow_merge_if_all_discussions_are_resolved":false,"printing_merge_request_link_enabled":true,"approvals_before_merge":0},{"id":3795166,"description":"testing
        lock proj","default_branch":"master","tag_list":[],"ssh_url_to_repo":"git@gitlab.com:Mouse-Hack/test-lock.git","http_url_to_repo":"https://gitlab.com/Mouse-Hack/test-lock.git","web_url":"https://gitlab.com/Mouse-Hack/test-lock","name":"test-lock","name_with_namespace":"Mouse-Hack
        / test-lock","path":"test-lock","path_with_namespace":"Mouse-Hack/test-lock","star_count":0,"forks_count":0,"created_at":"2017-07-27T17:13:22.497Z","last_activity_at":"2017-07-27T17:13:22.497Z","_links":{"self":"http://gitlab.com/api/v4/projects/3795166","issues":"http://gitlab.com/api/v4/projects/3795166/issues","merge_requests":"http://gitlab.com/api/v4/projects/3795166/merge_requests","repo_branches":"http://gitlab.com/api/v4/projects/3795166/repository/branches","labels":"http://gitlab.com/api/v4/projects/3795166/labels","events":"http://gitlab.com/api/v4/projects/3795166/events","members":"http://gitlab.com/api/v4/projects/3795166/members"},"archived":true,"visibility":"private","container_registry_enabled":true,"issues_enabled":true,"merge_requests_enabled":true,"wiki_enabled":true,"jobs_enabled":true,"snippets_enabled":true,"shared_runners_enabled":true,"lfs_enabled":true,"creator_id":1238984,"namespace":{"id":627189,"name":"Mouse-Hack","path":"Mouse-Hack","kind":"group","full_path":"Mouse-Hack","parent_id":null,"members_count_with_descendants":10,"plan":null},"import_status":"none","avatar_url":null,"open_issues_count":0,"public_jobs":true,"ci_config_path":null,"shared_with_groups":[],"only_allow_merge_if_pipeline_succeeds":false,"request_access_enabled":false,"only_allow_merge_if_all_discussions_are_resolved":false,"printing_merge_request_link_enabled":true,"approvals_before_merge":0},{"id":2192203,"description":"","default_branch":null,"tag_list":[],"ssh_url_to_repo":"git@gitlab.com:Mouse-Hack/brand-new.git","http_url_to_repo":"https://gitlab.com/Mouse-Hack/brand-new.git","web_url":"https://gitlab.com/Mouse-[...]
