---
http_interactions:
- request:
    method: get
    uri: https://gitlab.com/api/v4/users/4676821
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"024b0173883d61d1faf71adf509cccb7"
      Ratelimit-Limit:
      - '600'
      Ratelimit-Observed:
      - '2'
      Ratelimit-Remaining:
      - '598'
      Ratelimit-Reset:
      - '1569337121'
      Ratelimit-Resettime:
      - Tue, 24 Sep 2019 14:58:41 GMT
      Gitlab-Lb:
      - fe-19-lb-gprd
      Gitlab-Sv:
      - localhost
    body:
      encoding: UTF-8
      string: '{"id":4676821,"name":"78491623","username":"78491623","state":"active","avatar_url":"https://secure.gravatar.com/avatar/44c7e334dbb5051e9e376b96d6490ada?s=80\u0026d=identicon","web_url":"https://gitlab.com/78491623","created_at":"2019-09-24T14:54:33.928Z","bio":null,"location":null,"public_email":"","skype":"","linkedin":"","twitter":"","website_url":"","organization":null}'
  recorded_at: Tue, 24 Sep 2019 14:57:41 GMT
recorded_with: VCR 3.0.3
